@media (min-width: 1301px) {
	
	*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}




@font-face {
  font-family: "MAK-bold";
  src:
      local("MAK-bold") ,
	   local("MAK-bold"),
       url("fonts/MAK-bold.woff2") format('woff2'),
       url("fonts/MAK-bold.woff") format('woff'),
       url("fonts/MAK-bold.eot") format('eot');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hero-Regular";
  src:
    local("Hero-Regular") ,
  
     url("fonts/Hero-Regular.woff2") format('woff2'),
     url("fonts/Hero-Regular.woff") format('woff'),
     url("fonts/Hero-Regular.eot") format('eot');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  }


	
	.header h1{
		font-size:80px;
		text-align:right;
		    font-family: MAK-bold;
	}

	.header img{
		
		width:80%;
		display:block;
		margin:auto;
		object-fit:cover;
	
	}
     p{ 
      font-family:"Hero-Regular";
      text-align:left;
	    width:70%;
      font-size: 21px;
      margin-left:5%;
     
    }



		.box{
			
			background-color:#040203;
			background-size:100%;
			margin-top:0;
			
			
		      height:500px;
		
			
		}
	.box p{
		text-align:center;
                      top:50%;
	color:white;
	}
	
.main h1{
	  font-family: MAK-bold;
      padding-left: 30px;
    font-size:100px;

      text-align:right;
}
    h2,h3{
      font-family:"Hero-Regular";
      margin-bottom: 30px;
      margin-left:10%;
      font-size:60px;
      font-weight: bold;
    } 

.main{
	margin-top:1%;
	padding-top:1%;
}


.tel{
  display:flex;
  justify-content: space-between;
  
}
    .imgtel{
object-fit: cover;
height: 40%;
width: 50%;
border-radius:3% ;  
    display:block;
    margin:auto;
margin-bottom:3%;
margin-top:30%; 
    }

.tel p{
  margin-top:10%; 
  margin-left: 2%;
  font-size:22px;
}
   .mor{
      object-fit: cover;
  height: 50%;
      width:70%;
      border-radius:3% ;
   margin-top:3%;
	  
    }
    .flower{
      object-fit: cover;
      height: 50%;
      width:70%;
     border-radius:3% ;
   margin-top:3%;
	    
    }
.fl{
	  display:flex;
  justify-content: space-between;}
  .n{
      height:300px;
width:500px;
      object-fit: cover;
      border-radius:3% ;
      
   margin-top:30px;
    }
 
.images{
  display:flex;
  flex-direction:column ;
 
}

.FLO p{
margin-left:10%;
width:50%;
font-size: 24px;
margin-top:5%;
margin-right:3%;
}

.FLO{
	    display:flex;
    justify-content: space-between;
}
  .korby{
  margin-top:4%;
    border-radius: 3%;
	    height:70%;
width: 50%;
	   object-fit: cover;
	  float:right;
  }

	.kor{    display:flex;
    justify-content: space-between;}
	.kor p{
		margin-top:4%;
		text-align:lef;
		width:40%;
	}
  .ched{
    display:flex;
    justify-content: space-between;
    
  }
	.che p{
		margin-top:11%;
		font-size:22px;
	}
.che{
 text-align: left;
 margin-top:30px;
}
  .chedor{
    float:right;
border-radius: 3%;
   height:40%;
width: 30%;
margin-right:6%;
margin-top:5%;
	  object-fit: cover;
  }

 .kursay{
  height:50%;
	width:70%;
  border-radius: 3%;
 object-fit: cover;
   margin-left:auto;
	margin-right:auto;
	display:block;
  border-radius: 3%;
} 
	.mush{
	    display:flex;
    justify-content: space-between;
}
	.mush p{
		float:right;
		font-size:25px;
		margin-top:10%;
	}
 .mushrooms{
	 float:left;
  height:30%;
  width:50%;
  border-radius: 3%;
margin-left:7%;
margin-top:5%;
margin-bottom:5%;
object-fit: cover;
} 

.katy_ya{
  height:50%;
	width:30%;
  border-radius: 3%;
  margin-left:auto;
	margin-right:auto;
	display:block;
  margin-top:5%;
  margin-bottom:5%;
     object-fit: cover;
}

.geyzer{
  height:60%;
  width:70%;
  border-radius: 3%;
  margin-left:7%;
  margin-top:5%;
  object-fit: cover;
}

.karakolsk{
height:60%;
  width:80%;
  margin-left:20%;
  border-radius: 3%;
  margin-top:5%;
  margin-bottom:5%;
	object-fit: cover;
}


.patmos{
  min-width: 100%;
  min-height: 100%;
  border-radius:3%;
  margin-top:4%;
}
.patm1{
  min-width: 100%;
  min-height: 100%;
  border-radius:3%;
}


	  }









@media (max-width: 1300px ){
@font-face {
  font-family: "MAK-bold";
  src:
      local("MAK-bold") ,
	   local("MAK-bold"),
       url("fonts/MAK-bold.woff2") format('woff2'),
       url("fonts/MAK-bold.woff") format('woff'),
       url("fonts/MAK-bold.eot") format('eot');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hero-Regular";
  src:
    local("Hero-Regular") ,
  
     url("fonts/Hero-Regular.woff2") format('woff2'),
     url("fonts/Hero-Regular.woff") format('woff'),
     url("fonts/Hero-Regular.eot") format('eot');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  }

    .header h1{
      font-family: MAK-bold;
      text-shadow:20px -52px #105BF6;
    font-size:250px;
      color:rgb(46, 43, 43);
      text-align:center;
     
      padding-top: 3vh;
      
    }
  *{
  margin:0px;
  padding: 0px;
  min-width: min-content;
  min-height: min-content;
  box-sizing: border-box;
}

.box{
	 border:7px;
		border-radius:6%;
	    border-color:#105BF6;}

.header img{
	width:100%;
	margin:0;
	padding:0;
}
.header p{
  font-size: 70px;
  letter-spacing: 2px;
  line-height: normal;
  margin-top:12%;
		
  font-family: "Hero-Regular";

text-align:center;
}



	
		

    h2,h3{
      font-family:"Hero-Regular";
      margin-bottom: 30px;
      margin-left:10%;
      font-size:90px;
	  
    } 
	
    p{ 
       font-size: 50px;
  letter-spacing: 3px;
margin-left:5%;
  text-align:left ;
  font-family: "Hero-Regular";
    }

	.main{
		margin-top:8%;}

    .main h1{
      font-family:"MAK-bold";
      margin-right: auto;
     font-size: 155px;
     margin-bottom: 30px;
	    
    
    }
    .imgtel{
object-fit: cover;
height: 80%;
width: 90%;
	   border-radius:3% ;  
    display:block;
    margin:auto;
	    margin-bottom:5%;
	    
    }



	
    .mor{
      object-fit: cover;
      height: 600px;
      width:500px;
      margin-left: auto;
	margin-right: auto;    
      border-radius:3% ;
   margin-top:30px;
	     display:block;
    }
    .flower{
      object-fit: cover;
        height: 600px;
      width:500px;
      margin-left: auto;
	margin-right: auto; 
	    display:block;
     border-radius:3% ;
   margin-top:3px;
    }

 .fl{
	  display:flex;
  justify-content: space-between;}
    .n{
      height:60%;
width:70%;
      object-fit: cover;
      border-radius:3% ;
      
   margin-top:30px;
    }



  .korby{
    margin-top: 3%;
    border-radius: 6%;
	  
	  margin-left:auto;
	margin-right:auto;
	display:block;
  }
  .ched{
    display:flex;
    justify-content: space-between;
    
  }
.che{
 text-align: left;
 margin-top:35px;
}
	
  .chedor{
    float:right;
border-radius: 3%;
    height: 600px;
width: 490px;
	  margin-right:3%;
	  

margin-top:10%;
	  object-fit: cover;
  }

 .kursay{
  height:55%;
  width:30%;
  border-radius: 3%;
 object-fit: cover;
  margin-left: auto;
	margin-right: auto; 
	    display:block;
  margin-top:30px;
  border-radius: 3%;
} 

 .mushrooms{
  height:600px;
  width:500px;
  border-radius: 3%;
margin-left:30%;
margin-top:5%;
margin-bottom:5%;
	 object-fit: cover;
} 

.katy_ya{
   height:700px;
  width:500px;
  border-radius: 3%;
  margin-left: auto;
	margin-right: auto; 
	    display:block;
  margin-top:5%;
  margin-bottom:5%;
     object-fit: cover;
}

.geyzer{
  height:700px;
  width:500px;
  border-radius: 3%;
  margin-left: auto;
	margin-right: auto; 
	    display:block;
  margin-top:5%;object-fit: cover;
}

.karakolsk{
  height:800px;
  width:500px;
	  margin-left: auto;
	margin-right: auto; 
	    display:block;

  border-radius: 3%;
  margin-top:5%;
  margin-bottom:5%;
	object-fit: cover;
}


.patmos{
  min-width: 100%;
  min-height: 100%;
  border-radius:3%;
  margin-top:4%;
}
.patm1{
  min-width: 100%;
  min-height: 100%;
  border-radius:3%;
}

}



	

	










	

	






  
