@media (min-width: 1201px) {
	
	*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}




@font-face {
  font-family: "MAK-bold";
  src:
      local("MAK-bold") ,
	   local("MAK-bold"),
       url("fonts/MAK-bold.woff2") format('woff2'),
       url("fonts/MAK-bold.woff") format('woff'),
       url("fonts/MAK-bold.eot") format('eot');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hero-Regular";
  src:
    local("Hero-Regular") ,
  
     url("fonts/Hero-Regular.woff2") format('woff2'),
     url("fonts/Hero-Regular.woff") format('woff'),
     url("fonts/Hero-Regular.eot") format('eot');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  }

.nav {
  position: relative;
  width: 100%;
  background: #d4e7ee;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.nav ul {
  list-style: none;
}

.nav a {
  text-decoration: none;
}

.visible-menu {
  display: flex;
}

.visible-menu a {
  display: block;
  padding: 14px 20px;
  font-size: 18px;
  color: #29838c;
}

.visible-menu a:hover {
  background: #29838c;
  color: #fff;
}

.burger {
  position: absolute;
  width: 60px;
  height: 100%;
  right: 0;
  padding: 0;
  border: 0;
  outline: none;
  background: #29838c;
  color: #fff;
  cursor: pointer;
}

.burger svg {
  transition: 0.4s;
}

.burger.active svg {
  transform: rotate(90deg);
}

.burger-count {
  position: absolute;
  width: 26px;
  height: 26px;
  left: 0;
  top: 50%;
  text-align: center;
  background: #29838c;
  color: #fff;
  font-size: 14px;
  border: 2px solid #fff;
  line-height: 22px;
  border-radius: 50%;
  font-weight: bold;
  transform: translate(-50%, -50%);
}

.hidden-menu {
  position: fixed;
  right: 0;
  top: 50px;
  min-width: 250px;
  padding: 10px 0;
  background: #29838c;
  transition: 0.4s;
  transform: translateX(100%);
}

.hidden-menu.active {
  transform: translateX(0);
}

.hidden-menu a {
  padding: 10px 10px 10px 30px;
  color: #fff;
  font-size: 18px;
  display: block;
}

.hidden-menu a:hover {
  background: #fff;
  color: #29838c;
}

.nav .hidden {
  display: none;
}

     p{ 
      font-family:"Hero-Regular";
      text-align:left;
	    width:70%;
      font-size: 21px;
      margin-left:5%;
     
    }


    .header h1{
      font-family: MAK-bold;
      padding-left: 30px;
    font-size:180px;
      color:rgb(46, 43, 43);
      text-align:center;
     
      padding-top: 3vh;
      
    }

.main h1{
	  font-family: MAK-bold;
      padding-left: 30px;
    font-size:100px;

      text-align:right;
}
    h2,h3{
      font-family:"Hero-Regular";
      margin-bottom: 30px;
      margin-left:10%;
      font-size:60px;
      font-weight: bold;
    } 

.header {

	height:100vmin;
	width: 100min;
	object-fit:cover;
	background-size:cover;
	background-repeat:no-repeat;
}



.tel{
  display:flex;
  justify-content: space-between;
  
}
    .imgtel{
object-fit: cover;
height: 40%;
width: 50%;
border-radius:3% ;  
    display:block;
    margin:auto;
margin-bottom:3%;
margin-top:3%; 
    }

.tel p{
  margin-top:10%; 
  margin-left: 2%;
  font-size:22px;
}
   .mor{
      object-fit: cover;
  height: 50%;
      width:70%;
      border-radius:3% ;
   margin-top:3%;
	  
    }
    .flower{
      object-fit: cover;
      height: 50%;
      width:70%;
     border-radius:3% ;
   margin-top:3%;
	    
    }

    .aust,.sapsan{
      height:200px;
      width:300px;
      object-fit: cover;
      border-radius:3% ;
      margin-left:30px;
   margin-top:30px;
    }
    .n{
      height:200px;
      width:300px;
      object-fit: cover;
        border-radius:3% ;
        margin-left:30%;
        
    }
.images{
  display:flex;
  flex-direction:column ;
 
}

.FLO p{
margin-left:10%;
width:50%;
font-size: 24px;
margin-top:5%;
margin-right:3%;
}

.FLO{
	    display:flex;
    justify-content: space-between;
}
  .korby{
    margin-top: 30px;
    border-radius: 3%;
	    height:70%;
width: 50%;
	   object-fit: cover;
	  float:right;
  }

	.kor{    display:flex;
    justify-content: space-between;}
	.kor p{
		margin-top:10%;
		text-align:left;
	}
  .ched{
    display:flex;
    justify-content: space-between;
    
  }
	.che p{
		margin-top:10%;
		
	}
.che{
 text-align: left;
 margin-top:30px;
}
  .chedor{
    float:right;
border-radius: 3%;
   height:40%;
width: 30%;
margin-right:6%;
margin-top:6%;
	  object-fit: cover;
  }

 .kursay{
  height:50%;
	width:70%;
  border-radius: 3%;
 object-fit: cover;
  margin-left:10%;
  margin-top:30px;
  border-radius: 3%;
} 
	.mush{
	    display:flex;
    justify-content: space-between;
}
	.mush p{
		float:right;
		font-size:25px;
		nargin-top:5%;
	}
 .mushrooms{
	 float:left;
  height:30%;
  width:50%;
  border-radius: 3%;
margin-left:7%;
margin-top:5%;
margin-bottom:5%;
object-fit: cover;
} 

.katy_ya{
  height:50%;
	width:70%;
  border-radius: 3%;
  margin-left:auto;
	margin-right:auto;
	display:auto;
  margin-top:5%;
  margin-bottom:5%;
     object-fit: cover;
}

.geyzer{
  height:60%;
  width:70%;
  border-radius: 3%;
  margin-left:7%;
  margin-top:5%;]
  object-fit: cover;
}

.karakolsk{
height:60%;
  width:80%;
  margin-left:20%;
  border-radius: 3%;
  margin-top:5%;
  margin-bottom:5%;
	object-fit: cover;
}


.patmos{
  min-width: 100%;
  min-height: 100%;
  border-radius:3%;
  margin-top:4%;
}
.patm1{
  min-width: 100%;
  min-height: 100%;
  border-radius:3%;
}


	  }









@media (max-width: 1200px ){
@font-face {
  font-family: "MAK-bold";
  src:
      local("MAK-bold") ,
	   local("MAK-bold"),
       url("fonts/MAK-bold.woff2") format('woff2'),
       url("fonts/MAK-bold.woff") format('woff'),
       url("fonts/MAK-bold.eot") format('eot');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hero-Regular";
  src:
    local("Hero-Regular") ,
  
     url("fonts/Hero-Regular.woff2") format('woff2'),
     url("fonts/Hero-Regular.woff") format('woff'),
     url("fonts/Hero-Regular.eot") format('eot');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  }

.nav {
  position: relative;
  width: 100%;
  background: #d4e7ee;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.nav ul {
  list-style: none;
}

.nav a {
  text-decoration: none;
}

.visible-menu {
  display: flex;
}

.visible-menu a {
  display: block;
  padding: 14px 20px;
  font-size: 18px;
  color: #29838c;
}

.visible-menu a:hover {
  background: #29838c;
  color: #fff;
}

.burger {
  position: absolute;
  width: 60px;
  height: 100%;
  right: 0;
  padding: 0;
  border: 0;
  outline: none;
  background: #29838c;
  color: #fff;
  cursor: pointer;
}

.burger svg {
  transition: 0.4s;
}

.burger.active svg {
  transform: rotate(90deg);
}

.burger-count {
  position: absolute;
  width: 26px;
  height: 26px;
  left: 0;
  top: 50%;
  text-align: center;
  background: #29838c;
  color: #fff;
  font-size: 14px;
  border: 2px solid #fff;
  line-height: 22px;
  border-radius: 50%;
  font-weight: bold;
  transform: translate(-50%, -50%);
}

.hidden-menu {
  position: fixed;
  right: 0;
  top: 50px;
  min-width: 250px;
  padding: 10px 0;
  background: #29838c;
  transition: 0.4s;
  transform: translateX(100%);
}

.hidden-menu.active {
  transform: translateX(0);
}

.hidden-menu a {
  padding: 10px 10px 10px 30px;
  color: #fff;
  font-size: 18px;
  display: block;
}

.hidden-menu a:hover {
  background: #fff;
  color: #29838c;
}

.nav .hidden {
  display: none;
}
    .header h1{
      font-family: MAK-bold;
      padding-left: 30px;
    font-size:200px;
      color:rgb(46, 43, 43);
      text-align:center;
     
      padding-top: 3vh;
      
    }
  *{
  margin:0px;
  padding: 0px;
  min-width: min-content;
  min-height: min-content;
  box-sizing: border-box;
}

.header{
  margin-bottom:1200px ;
 
}



.header p{
  font-size: 40px;
  letter-spacing: 1px;
  line-height: normal;
  text-align:left ;
  font-family: "Hero-Regular";
  padding-left: 55px;
  margin-left:55px ;
  margin-right:55px ;

}

.cont_forTEXT{
width: 60%;
margin-bottom:10%;
 
} 

    h2,h3{
      font-family:"Hero-Regular";
      margin-bottom: 30px;
      margin-left:10%;
      font-size:60px;
    } 
    p{ 
      font-family:"Hero-Regular";
      line-height: 30px;
      margin-bottom: 30px;
      letter-spacing: 3px;
      text-align: center;
      margin-left:15%;
      font-size: 100px;
    }

    .main h1{
      font-family:"MAK-bold";
      margin-right: auto;
     font-size: 120px;
     margin-bottom: 30px;
    
    }
    .imgtel{
object-fit: cover;
height: 80%;
width: 90%;
	   border-radius:3% ;  
    display:block;
    margin:auto;
	    margin-bottom:5%;
	    
    }
/* .images{
  display:inline-block;
  
} */
    .mor{
      object-fit: cover;
      height: 500px;
      width:200px;
      margin-left: 3%;
      border-radius:3% ;
   margin-top:30px;
    }
    .flower{
      object-fit: cover;
      height: 500px;
      width:200px;
      margin-left: 30%;
     border-radius:3% ;
   margin-top:3px;
    }

    .aust,.sapsan{
      height:400px;
      width:500px;
      object-fit: cover;
      border-radius:3% ;
      margin-left:30px;
   margin-top:30px;
    }
    .n{
      height:400px;
      width:500px;
      object-fit: cover;
        border-radius:3% ;
        margin-left:30%;
        
    }



  .korby{
    margin-top: 30px;
    border-radius: 6%;
  }
  .ched{
    display:flex;
    justify-content: space-between;
    
  }
.che{
 text-align: left;
 margin-top:30px;
}
	
  .chedor{
    float:right;
border-radius: 3%;
    height: 600px;
width: 490px;
	  margin-right:2%;
	  
margin-right:6%;
margin-top:10%;object-fit: cover;
  }

 .kursay{
  height:600px;
  width:300px;
  border-radius: 3%;
 object-fit: cover;
  margin-left:2%;
  margin-top:30px;
  border-radius: 3%;
} 

 .mushrooms{
  height:500px;
  width:400px;
  border-radius: 3%;
margin-left:30%;
margin-top:5%;
margin-bottom:5%;
	 object-fit: cover;
} 

.katy_ya{
  height:500px;
	width:400px;
  border-radius: 3%;
  margin-left:10%;
  margin-top:5%;
  margin-bottom:5%;
     object-fit: cover;
}

.geyzer{
  height:700px;
  width:500px;
  border-radius: 3%;
  margin-left:7%;
  margin-top:5%;object-fit: cover;
}

.karakolsk{
  height:600px;
  width:400px;
  margin-left:20%;
  border-radius: 3%;
  margin-top:5%;
  margin-bottom:5%;
	object-fit: cover;
}


.patmos{
  min-width: 100%;
  min-height: 100%;
  border-radius:3%;
  margin-top:4%;
}
.patm1{
  min-width: 100%;
  min-height: 100%;
  border-radius:3%;
}

}



	

	










	

	






  
